/**
 *
 * IBM Confidential
 *
 * (C) Copyright IBM Corp. 2014, 2019
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has been
 * deposited with the U. S. Copyright Office
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 */

/**
 * These variables are attached to the topmost element of the page where the widget is attached. This can be at one of
 * two locations. For older browsers that don't support shadow DOM functionality (IE and Edge), they are simply attached
 * to the root element of the document using ":root". For browsers that do support a shadow DOM, the variables are
 * attached to the shadow root. This is normally represented by ":host" but since that selector is invalid on browsers
 * that don't support a shadow DOM, that would make this entire rule invalid. Instead, we use the classname that's at
 * the top of the widget.
 */
:root,
.WWXOuterContainer {
  /*
   * COLORS
   * Default colors for use across web-experience.
   */

  --WWX-BASE-accent-color: #0062ff;
  --WWX-BASE-accent-secondary-color: #0353e9;
  --WWX-BASE-background-color: #f3f3f3;
  --WWX-BASE-font-color: #171717;
  --WWX-BASE-primary-color: #3d3d3d;
  --WWX-BASE-secondary-color: #ffffff;
  --WWX-BASE-tertiary-color: #dcdcdc;
  --WWX-BASE-quaternary-color: #bfbfbf;


  --WWX-INPUT-inactive-font-color: #8c8c8c;
  --WWX-LAUNCHER-hover-background-color: #4c4c4c;

  /*
   * SPACING
   */

  --WWX-BASE-small-spacing: 4px;
  --WWX-BASE-med-spacing: 8px;
  --WWX-BASE-large-spacing: 16px;
  --WWX-BASE-xlarge-spacing: 32px;

  /*
   * ANIMATION
   */

  --WWX-BASE-animation-time: 0.2s;



  /*
   * TYPOGRAPHY
   * Where can they control fonts? We can always add more stuff later when someone asks for it. Be VERY conservative.
   * Titles?... the stuff on home? What is the MINIMUM amount of stuff.
   * ONCE it's in a variable, we'll support it FOREVER. We're looking for MVP.
   */

  --WWX-BASE-font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;

  --WWX-BASE-small-font-size: 12px;
  --WWX-BASE-med-font-size: 14px;
  --WWX-BASE-large-font-size: 16px;

  --WWX-BASE-small-line-height: 16px;
  --WWX-BASE-med-line-height: 18px;
  --WWX-BASE-large-line-height: 24px;

  /*
   * BASE
   * The styling variables for the BASE, main structure, of the web-experience.
   */

  --WWX-BASE-xsmall-border-radius: var(--WWX-BASE-med-border-width);
  --WWX-BASE-small-border-radius: 5px;
  --WWX-BASE-med-border-radius: 8px;
  --WWX-BASE-large-border-radius: 12px;

  --WWX-BASE-small-border-width: 1px;
  --WWX-BASE-med-border-width: 2px;
  --WWX-BASE-focus-border-width: var(--WWX-BASE-med-border-width);
  --WWX-BASE-focus-border-style: solid;
  --WWX-BASE-bottom-position: 96px;
  --WWX-BASE-box-shadow: 1px 0 6px rgba(23, 23, 23, 0.3);
  --WWX-BASE-height: 512px;
  --WWX-BASE-min-height: var(--WWX-BASE-height);
  --WWX-BASE-right-position: var(--WWX-BASE-xlarge-spacing);
  --WWX-BASE-width: 320px;
  --WWX-BASE-z-index: 9999;

  /*
   * BUTTON
   * The styling variables for the BUTTON component used across the web-experience.
   */

  --WWX-BUTTON-active-background-color: var(--WWX-BASE-primary-color);
  --WWX-BUTTON-active-font-color: var(--WWX-BASE-secondary-color);
  --WWX-BUTTON-background-color: var(--WWX-BASE-tertiary-color);
  --WWX-BUTTON-background-color-hover: var(--WWX-BASE-quaternary-color);
  --WWX-BUTTON-border-radius: 16px;
  --WWX-BUTTON-border-size: var(--WWX-BASE-med-border-width);
  --WWX-BUTTON-font-align: left;
  --WWX-BUTTON-font-color: var(--WWX-BASE-font-color);
  --WWX-BUTTON-font-size: var(--WWX-BASE-small-font-size);
  --WWX-BUTTON-line-height: var(--WWX-BASE-small-line-height);
  --WWX-BUTTON-margin-bottom: var(--WWX-BASE-large-spacing);
  --WWX-BUTTON-padding-top-bottom: var(--WWX-BASE-small-spacing);
  --WWX-BUTTON-padding-right-left: 8px;
  --WWX-BUTTON-max-width: calc(
    200px - calc(var(--WWX-BUTTON-padding-right-left) + var(--WWX-BUTTON-padding-right-left))
  );

  /*
   * HEADER styling
   */

  --WWX-HEADER-background-color: var(--WWX-BASE-secondary-color);
  --WWX-HEADER-color: var(--WWX-BASE-font-color);
  --WWX-HEADER-font-size: var(--WWX-BASE-large-font-size);
  --WWX-HEADER-font-weight: 600;
  --WWX-HEADER-height: 48px;
  --WWX-HEADER-line-height: var(--WWX-BASE-med-line-height);
  --WWX-HEADER-icon-height: 20px;
  --WWX-HEADER-icon-width: 20px;
  --WWX-HEADER-padding: 14px 12px 14px var(--WWX-BASE-large-spacing);
  --WWX-HEADER-button-opacity-hover: .8;

  /*
   * LAUNCHER styling
   */

  --WWX-LAUNCHER-active-outline-color: var(--WWX-BASE-secondary-color);
  --WWX-LAUNCHER-active-background-color: var(--WWX-LAUNCHER-hover-background-color);
  --WWX-LAUNCHER-background-color: var(--WWX-BASE-primary-color);
  --WWX-LAUNCHER-button-padding-top-bottom: var(--WWX-BASE-large-spacing);
  --WWX-LAUNCHER-button-padding-right-left: 14px;
  --WWX-LAUNCHER-height: 56px;
  --WWX-LAUNCHER-icon-color: var(--WWX-BASE-secondary-color);
  --WWX-LAUNCHER-position-bottom: var(--WWX-BASE-xlarge-spacing);
  --WWX-LAUNCHER-position-right: var(--WWX-BASE-xlarge-spacing);
  --WWX-LAUNCHER-svg-color: var(--WWX-BASE-secondary-color);
  --WWX-LAUNCHER-width: 56px;

  /*
   * INPUT styling
   */

  --WWX-INPUT-active-font-color: var(--WWX-BASE-font-color);
  --WWX-INPUT-background-color: var(--WWX-BASE-secondary-color);
  --WXX-INPUT-border-color: var(--WWX-BASE-tertiary-color);
  --WWX-INPUT-border-top: var(--WWX-BASE-small-border-width) solid var(--WXX-INPUT-border-color);
  --WWX-INPUT-font-color: var(--WWX-BASE-font-color);
  --WWX-INPUT-font-family: var(--WWX-BASE-font-family);
  --WWX-INPUT-font-size: var(--WWX-BASE-med-font-size);
  --WWX-INPUT-height: 48px;
  --WWX-INPUT-icon-color: var(--WWX-BASE-accent-color);
  --WWX-INPUT-line-height: var(--WWX-BASE-med-line-height); /* Work in progress */
  --WWX-INPUT-min-height: 0;
  --WWX-INPUT-padding-right-left: var(--WWX-BASE-large-spacing);
  --WWX-INPUT-padding-top-bottom: 12px; /* Work in progress */

  /*
   * SEND BUTTON styling
   */

  --WWX-SEND-button-width: 18px;
  --WWX-SEND-button-height: 18px;
  --WWX-SEND-button-padding-top-bottom: 12px;
  --WWX-SEND-button-padding-right-left: 12px;
  --WWX-SEND-button-border-active: 1px;
  --WWX-SEND-button-background: var(--WWX-INPUT-background-color);
  --WWX-SEND-button-border: solid var(--WWX-BASE-med-border-width) var(--WWX-BASE-secondary-color);
  --WWX-SEND-icon-fill: var(--WWX-BASE-secondary-color);

  /* DEVELOPER NOTE: Experimenting with the BEM naming pattern on the next few variables */

  /* SEND BUTTON :disabled (default state) */

  --WWX-SEND-button-background-disabled: var(--WWX-BASE-secondary-color);
  --WWX-SEND-button-border-disabled: var(--WWX-BASE-focus-border-width) var(--WWX-BASE-focus-border-style)
    var(--WWX-BASE-secondary-color);
  --WWX-SEND-button-animation-fade-out: WWXSendButtonFadeOut var(--WWX-BASE-animation-time);
  --WWX-SEND-icon-fill-disabled: var(--WWX-INPUT-inactive-font-color);

  /* SEND BUTTON :enabled */

  --WWX-SEND-button-background-enabled: var(--WWX-BASE-accent-color);
  --WWX-SEND-button-border-enabled: var(--WWX-BASE-focus-border-width) var(--WWX-BASE-focus-border-style)
    var(--WWX-BASE-accent-color);
  --WWX-SEND-button-animation-fade-in: WWXSendButtonFadeIn var(--WWX-BASE-animation-time);
  --WWX-SEND-button-animation-fade-id-arrow: WWXSendButtonFadeInArrow var(--WWX-BASE-animation-time);
  --WWX-SEND-button-active-border-enabled: var(--WWX-BASE-accent-color);
  --WWX-SEND-button-box-shadow-enabled: inset 0 0 0 var(--WWX-SEND-button-border-active) var(--WWX-BASE-secondary-color);
  --WWX-SEND-button-opacity-enabled: 0.8;

  /* SEND BUTTON :focus */
  --WWX-SEND-button-box-shadow-focus: inset 0 0 0 var(--WWX-SEND-button-border-active) var(--WWX-BASE-secondary-color);

  /* SEND BUTTON :enabled:hover */

  --WWX__send-button-background-enabled-hover: var(--WWX-BASE-accent-secondary-color);
  --WWX__send-button-border-enabled-hover: solid var(--WWX-BASE-med-border-width) var(--WWX-BASE-accent-color);

  /*
   * MESSAGE styling
   */

  --WWX-MESSAGE-bar-background-color: var(--WWX-BASE-accent-color);
  --WWX-MESSAGE-bar-border-radius: var(--WWX-BASE-xsmall-border-radius);
  --WWX-MESSAGE-bar-height: 16px;
  --WWX-MESSAGE-bar-margin-right: 5px;
  --WWX-MESSAGE-bar-width: 3px;
  --WWX-MESSAGE-padding-bottom: 4px;
  --WWX-MESSAGE-margin: var(--WWX-BASE-large-spacing);
  --WWX-MESSAGE-first-margin-top: var(--WWX-BASE-xlarge-spacing);
  --WWX-MESSAGE-font-size: var(--WWX-BASE-med-font-size);
  --WWX-MESSAGE-letter-spacing: 0.16px;
  --WWX-MESSAGE-last-margin-bottom: var(--WWX-BASE-xlarge-spacing);
  --WWX-MESSAGE-line-height: var(--WWX-BASE-med-line-height);
  --WWX-MESSAGE-title-line-height: var(--WWX-BASE-med-line-height);
  --WWX-MESSAGE-title-margin-bottom-offset: -1px;
  --WWX-MESSAGE-received-background-color: var(--WWX-BASE-secondary-color);
  --WWX-MESSAGE-received-font-color: var(--WWX-BASE-font-color);
  --WWX-MESSAGE-received-margin: var(--WWX-BASE-med-spacing) var(--WWX-BASE-large-spacing);
  --WWX-MESSAGE-received-max-width: calc(
    100% - var(--WWX-MESSAGE-bar-width) - var(--WWX-MESSAGE-bar-margin-right) - 4px
  );
  --WWX-MESSAGE-sent-background-color: var(--WWX-BASE-primary-color);
  --WWX-MESSAGE-sent-border-radius: var(--WWX-BASE-med-border-radius) var(--WWX-BASE-med-border-radius) 0
    var(--WWX-BASE-med-border-radius);
  --WWX-MESSAGE-sent-font-color: var(--WWX-BASE-secondary-color);
  --WWX-MESSAGE-sent-max-width: 75%;
  --WWX-MESSAGE-sent-padding-top-bottom: 8px;
  --WWX-MESSAGE-sent-padding-right-left: 12px;
  --WWX-MESSAGE-sent-margin-bottom: var(--WWX-BASE-large-spacing);
  --WWX-MESSAGE-sent-tooltip-border-left: 8px solid transparent;
  --WWX-MESSAGE-sent-tooltip-border-top: 8px solid var(--WWX-MESSAGE-sent-background-color);
  --WWX-MESSAGE-sent-tooltip-bottom-position: -8px;
  --WWX-MESSAGE-sent-tooltip-right-position: 0px;

  /*
   * SEARCH result styling
   */

  --WWX-SEARCH-border-radius: var(--WWX-BASE-med-border-radius);
  --WWX-SEARCH-margin-top-bottom: 8px;
  --WWX-SEARCH-padding-top-bottom: 16px;
  --WWX-SEARCH-padding-left-right: 16px;
  --WWX-SEARCH-received-box-shadow: none;

  /*
   * METABLOCK styling
   */

  --WWX-METABLOCK-description-margin-top: var(--WWX-BASE-med-spacing);

  /*
   * IMAGE styling
   */

  --WWX-IMAGE-description-loading-height: var(--WWX-IMAGE-text-loading-height);
  --WWX-IMAGE-description-loading-width: 80%;
  --WWX-IMAGE-font-size: var(--WWX-BASE-med-font-size);
  --WWX-IMAGE-holder-border-radius: var(--WWX-BASE-small-border-radius);
  --WWX-IMAGE-loading-background-color: var(--WWX-BASE-accent-color);
  --WWX-IMAGE-loading-fill-color: var(--WWX-BASE-secondary-color);
  --WWX-IMAGE-loading-max-height: 200px;
  --WWX-IMAGE-line-height: var(--WWX-BASE-med-line-height);
  --WWX-IMAGE-margin: var(--WWX-MESSAGE-received-margin);
  --WWX-IMAGE-no-text-border-radius: var(--WWX-BASE-small-border-radius);
  --WWX-IMAGE-padding: var(--WWX-BASE-large-spacing);
  --WWX-IMAGE-text-border-radius: var(--WWX-BASE-small-border-radius) var(--WWX-BASE-small-border-radius) 0 0;
  --WWX-IMAGE-text-holder-background-color: var(--WWX-BASE-secondary-color);
  --WWX-IMAGE-text-holder-border-radius: 0 0 var(--WWX-BASE-small-border-radius) var(--WWX-BASE-small-border-radius);
  --WWX-IMAGE-text-loading-height: 10px;
  --WWX-IMAGE-text-margin: 2px;
  --WWX-IMAGE-title-font-weight: 600;
  --WWX-IMAGE-title-loading-height: var(--WWX-IMAGE-text-loading-height);
  --WWX-IMAGE-title-loading-width: 90%;

  /*
   * DROPDOWN styling
   */

  --WWX-DROPDOWN-arrow-color: var(--WWX-BASE-font-color);
  --WWX-DROPDOWN-arrow-height: 6px;
  --WWX-DROPDOWN-arrow-width: 12px;
  --WWX-DROPDOWN-border-radius: var(--WWX-BASE-small-border-radius);
  --WWX-DROPDOWN-data-border-radius: 0 0 var(--WWX-DROPDOWN-border-radius) var(--WWX-DROPDOWN-border-radius);
  --WWX-DROPDOWN-toggle-focus-border-width: var(--WWX-BASE-focus-border-width);
  --WWX-DROPDOWN-toggle-focus-border-style: var(--WWX-BASE-focus-border-style);
  --WWX-DROPDOWN-toggle-focus-border-color: var(--WWX-BASE-accent-color);
  --WWX-DROPDOWN-toggle-background-color: var(--WWX-BASE-secondary-color);
  --WWX-DROPDOWN-toggle-highlight-color: var(--WWX-BASE-tertiary-color);
  --WWX-DROPDOWN-item-highlighted-background-color: var(--WWX-BASE-tertiary-color);
  --WWX-DROPDOWN-item-highlighted-font-color: var(--WWX-BASE-font-color);
  /*
   * TODO: This is the same color as the highlight. At the moment, this value is never seen since the only use of the
   * TODO: drop down right now causes the dropdown is hide when something is selected.
   */
  --WWX-DROPDOWN-item-selected-background-color: var(--WWX-BASE-tertiary-color);
  --WWX-DROPDOWN-item-selected-font-color: var(--WWX-BASE-font-color);
  --WWX-DROPDOWN-item-background-color: var(--WWX-BASE-secondary-color);
  --WWX-DROPDOWN-item-border-width: var(--WWX-BASE-small-border-width);
  --WWX-DROPDOWN-item-border-color: var(--WWX-BASE-tertiary-color);
  --WWX-DROPDOWN-item-font-color: var(--WWX-BASE-font-color);
  --WWX-DROPDOWN-item-font-size: var(--WWX-BASE-med-font-size);
  --WWX-DROPDOWN-item-line-height: var(--WWX-BASE-med-line-height);
  --WWX-DROPDOWN-item-margin-right-left: var(--WWX-BASE-large-spacing);
  --WWX-DROPDOWN-item-padding-top-bottom: 12px;
  --WWX-DROPDOWN-item-padding-right-left: var(--WWX-BASE-large-spacing);
  --WWX-DROPDOWN-max-height: 240px;
  --WWX-DROPDOWN-right-position: var(--WWX-BASE-med-spacing);
  --WWX-DROPDOWN-title-border-radius: var(--WWX-DROPDOWN-border-radius) var(--WWX-DROPDOWN-border-radius) 0 0;

  /*
   * OPTION styling
   */

  --WWX-OPTIONS-link-color: var(--WWX-BASE-accent-color);
  --WWX-OPTIONS-holder-margin: var(--WWX-BASE-small-line-height);
  --WWX-OPTIONS-holder-max-width: var(--WWX-MESSAGE-received-max-width);
  --WWX-OPTIONS-holder-margin-top: var(--WWX-BASE-large-spacing);

}
